.cv-main {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    text-align: center;
}

.cv-group {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.cv-item {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    padding: var(--space-sm);
    border-radius: var(--radius);
    background-color: var(--color-neutral-70);
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: baseline;
        h3 {
            margin: 0;
            font-size: var(--font-size-lg);
            color: var(--color-text-title);
        }
    }
    h4 {
        margin: 0;
        color: lightcoral;
    }
}

.cv-meta {
    font-size: var(--font-size-md);
    color: lightgray;
}

.cv-sub {
    font-size: var(--font-size-sm);
    color: lightblue;
}

.cv-desc {
    font-size: var(--font-size-md);
    color: var(--color-text);
}

.cv-list {
    list-style-type: square;
    list-style-position: inside;
}
