.cv-main {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    text-align: center;
}

.cv-group {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.cv-item {
    border: darkorange 2px solid;
    padding: var(--space-sm);
    border-radius: var(--radius);
    background-color: mediumslateblue;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: baseline;
        h3 {
            margin: 0;
            font-size: var(--font-size-lg);
            color: lightyellow;
        }
    }
    h4 {
        margin: 0;
        color: lightcoral;
    }
}

.cv-meta {
    font-size: var(--font-size-md);
    color: lightgray;
}

.cv-sub {
    font-size: var(--font-size-sm);
    color: lightblue;
}

.cv-desc {
    font-size: var(--font-size-md);
    color: lightgreen;
}

.cv-list {
    list-style-type: square;
    list-style-position: inside;
}
